<% include ../partials/header.ejs %>

<div class="container pt-3">
    <div class="row">
        <!--Profile Aside-->
        <div class="col-lg-4">
            <div class="tl-profile-container">
                <!--Profile Photo-->
                <img src="<%= user.image %>" >
                <div class="meta">
                    <!--Name-->
                    <p><%= user.firstName %> <%= user.lastName %></p>
                    <!--Bio-->
                    <div class="meta-group">
                        <i class="far fa-address-card"></i><p><%= user.bio %></p>
                    </div>
                    <!--Hometown-->
                    <div class="meta-group">
                        <i class="fas fa-map-marker-alt"></i><p><%= user.city %>, <%= user.state %></p>
                    </div>
                    <!--Birthday-->
                    <div class="meta-group">
                        <i class="fas fa-birthday-cake"></i><p><%= user.month %> <%= user.day %>, <%= user.year %></p>
                    </div>
                    <!--Number of posts-->
                    <div class="meta-group">
                        <i class="fas fa-pencil-alt"></i><p><%= user.posts.length %> posts</p>
                    </div>
                    <!--Member since-->
                    <div class="meta-group">
                        <i class="far fa-calendar-alt"></i><p>Member since <%= moment(user.joinedOn).format('MMMM Do YYYY') %></p>
                    </div>
                    <% if (currentUser._id.equals(user._id)) { %>
                        <!--Edit button-->
                        <a class="btn btn-sm btn-secondary mt-1" href="/profile/<%= user._id %>/edit">Edit profile</a>
                    <% } %>
                </div>
            </div>
        </div>
        <!--Main Timeline-->
        <div class="col-lg-8">
            
            <% if (user._id.equals(currentUser._id)) { %>
                <div class="tl-post-container">
                    <!--New post form-->
                    <p class="post-heading mb-0">Create a post</p>
                    <form class="mb-0" method="POST" action="/timeline">
                        <!--Line 1 (5)-->
                        <input type="text" class="form-control tl-fc" name="post[line1]" placeholder="5 Sylables">
                        <!--Line 2 (7)-->
                        <input type="text" class="form-control tl-fc" name="post[line2]" placeholder="7 Sylables">
                        <!--Line 3 (5)-->
                        <input type="text" class="form-control tl-fc" name="post[line3]" placeholder="5 Sylables">
                        <button class="btn btn-sm btn-secondary mt-1" type="submit">Post It!</button>
                    </form>
                </div>
            <% } %>
            
            <!--Timeline posts-->
            <div class="tl-posts">
                
                <% if (user._id.equals(currentUser._id)) { %>
                    <p class="post-title-head">Your recent posts</p>
                <% } else { %>
                    <p class="post-title-head"><%= user.firstName %>'s recent posts</p>
                <% } %> 
                
                <% post.forEach(function(post) { %>
                    <div class="tl-haiku-container">
                        <div class="author-meta-info">
                            <img src="<%= user.image %>" alt="<%= user.firstName %> <%= user.lastName %>">
                            <p><%= user.firstName %> <%= user.lastName %></p>
                        </div>
                        <div class="tl-content-haiku-container">
                            <p><%= post.line1 %></p>
                            <p><%= post.line2 %></p>
                            <p><%= post.line3 %></p>
                        </div>
                        <div class="tl-meta-container">
                            <p class="tl-date"><%= moment(post.createdAt).format('MMMM Do YYYY, h:mm a') %></p>
                            <div class="like-container">
                                <a href="/profile/<%= post.author.id %>/posts/<%= post._id %>/like"><i class="fas fa-grin-beam"></i></a>
                                <p><%= post.likes.length %> Likes</p>
                            </div>
                            <div class="post-comment-container">
                                <i class="fas fa-comment"></i>
                                <p class="tl-comments"><%= post.comments.length %> Comments</p>
                            </div>
                        </div>
                    </div>
                <% }); %>
                
                
            </div> <!-- End tl posts -->
            
        </div> <!--End main timeline -->
    </div> <!-- End row -->
    
</div> <!--End container -->

<% include ../partials/footer.ejs %>