<% include ../partials/header.ejs %>

<div class="container pt-3">
    <div class="row">
        <!--Profile Aside-->
        <div class="col-md-4">
            <div class="tl-profile-container">
                <!--Profile Photo-->
                <img src="<%= currentUser.image %>" >
                <div class="meta">
                    <!--Name-->
                    <p><%= currentUser.firstName %> <%= currentUser.lastName %></p>
                    <!--Bio-->
                    <p><%= currentUser.bio %></p>
                    <!--Hometown???-->
                    <p><%= currentUser.city %>, <%= currentUser.state %></p>
                    <!--Birthday-->
                    <p><%= currentUser.month %> <%= currentUser.day %>, <%= currentUser.year %></p>
                    <!--Number of posts-->
                    <p><%= currentUser.posts.length %> posts</p>
                    <!--Member since-->
                    <p>Member since <%= moment(currentUser.joinedOn).format('MMMM Do YYYY') %></p>
                    <!--Edit button-->
                    <a href="/profile/<%= currentUser._id %>/edit">Edit profile</a>
                </div>
            </div>
        </div>
        <!--Main Timeline-->
        <div class="col-md-8">
            
            <div class="tl-post-container">
                <!--New post form-->
                <p class="post-heading mb-0">Create a post</p>
                <form class="mb-0" method="POST" action="/timeline">
                    <!--Line 1 (5)-->
                    <input type="text" class="form-control tl-fc" name="post[line1]" placeholder="5 Sylables">
                    <!--Line 2 (7)-->
                    <input type="text" class="form-control tl-fc" name="post[line2]" placeholder="7 Sylables">
                    <!--Line 3 (5)-->
                    <input type="text" class="form-control tl-fc" name="post[line3]" placeholder="5 Sylables">
                    <button class="btn btn-sm btn-secondary mt-1" type="submit">Post It!</button>
                </form>
            </div>
            
            <!--Timeline posts-->
            <div class="tl-posts">
                <p class="post-title-head">Recent posts</p>
                <!--Loop to post all posts in timeline-->
                <% posts.forEach(function(post) { %>
                
                    <!--Card/Container-->
                    <div class="tl-haiku-container">
                        <!--Name-->
                        <div class="author-meta-info">
                            <img src="<%= post.author.image %>" alt="<%= post.author.name %>">
                            <p><%= post.author.name %></p>
                        </div>
                        <!--Haiku-->
                        <div class="tl-content-haiku-container">
                            <p><%= post.line1 %></p>
                            <p><%= post.line2 %></p>
                            <p><%= post.line3 %></p>
                        </div>
                        <!--Show number of likes-->
                        <div class="tl-meta-container">
                            <p class="tl-date"><%= moment(post.createdAt).format('MMMM Do YYYY, h:mm a') %></p>
                            <div class="like-container">
                                <i class="fas fa-grin-beam"></i>
                                <p class="tl-likes"><%= post.likes %> Likes</p>
                            </div>
                            <div class="post-comment-container">
                                <i class="fas fa-comment"></i>
                                <p class="tl-comments"><%= post.comments.length %> Comments</p>
                            </div>
                        </div>
                        <a href="/profile/<%= post.author.id %>/posts/<%= post._id %>">View Post</a>
                        
                    </div> <!--End post container -->
                    
                <% }); %>
                
            </div> <!-- End tl posts -->
            
        </div> <!--End main timeline -->
    </div> <!-- End row -->
    
</div> <!--End container -->

<% include ../partials/footer.ejs %>